/* Starter CSS code for use with Bootstrap starter template */

body {
}
h2 {
  padding-top: 2rem;
}

.starter-template {
    padding: 5rem 1.5rem;
    text-align: center;
}

.introNote {
  text-align: left;
}

.jumbotron-compoments {
  background-image: url("../images/BootstrapDesignSVG.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

}

footer {
  min-height: 3rem;
}
